{% extends 'base/main_base.html' %}

{% block content %}
<div class="page-header">
  <h1>Contact Information</h1>
</div>
<div class="row-fluid">
  <div class="span12"><address>
    <strong>Benjamin Kaiser</strong><br>
    Geelong, Victoria<br>
    Email: <a href="emailto:benjaminjkaiser@gmail.com">benjaminjkaiser@gmail.com</a><br>
    Mobile: (+61) 0432 598 381<br>
    <a target="blank" href="http://www.blog.kaiserapps.com">Blog</a><br>
    <a target="blank" href="http://stackoverflow.com/users/485048/benjamin-kaiser">StackOverflow</a><br>
    <a target="blank" href="https://github.com/benkaiser">Github</a><br>
    <a target="blank" href="https://plus.google.com/111187907454451878117/">Google+</a><br>
  </address></div>
</div>
{% endblock %}
