{% extends 'base/main_base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>Kaiserapps</h1>
  <p>Kaiserapps is a group of web and mobile applications all created by
    <a target="_blank" href="https://plus.google.com/+BenjaminKaiser" rel="tooltip" title="Google+ Profile">Benjamin Kaiser</a>.<br/>
    They are all free, and some are even <a target="_blank" href="https://github.com/benkaiser" rel="tooltip" title="Github Projects">open source</a>.
  </p>
  <p><a href="/contact" class="btn btn-primary btn-large">Contact &gt;&gt;</a></p>
</div>
<div class="row">
  <div class="col-sm-4">
    <h2>Open Source Projects</h2>
    <p>The code that I share with the world is available on my Github. My major project there is <a href="https://github.com/benkaiser/node-music-player">Node Music Player</a>, a beautiful in-browser music player written in NodeJS.</p>
    <p><a href="https://github.com/benkaiser" target="_blank" class="btn btn-default">Ben Kaiser on Github &gt;&gt;</a></p>
  </div>
  <div class="col-sm-4">
    <h2>Lab</h2>
    <p>Kaiserapps Lab is what happened when I met HTML5 and WebGL. There are a bunch of things normally in the form of an animation or game. You can try them all out using <a target="_blank" href="http://www.google.com/chrome" rel="tooltip" title="Get Google Chrome">Google Chrome</a>.</p>
    <p><a href="/lab" target="_blank" class="btn btn-default">Visit the Lab &gt;&gt;</a></p>
  </div>
  <div class="col-sm-4">
    <h2>Chrome App</h2>
    <p>Over the past several years I have made a bunch of Chrome Apps that either help you practice spelling, find Australian postcodes, play cool 3D games offline or help make the job of a web developer easier.</p>
    <p><a href="https://chrome.google.com/webstore/search/kaiserapps" class="btn btn-default">More Info &gt;&gt;</a></p>
  </div>
</div>
{% endblock %}
