<!DOCTYPE html>
<html lang="en">
<head>
  <title>Benjamin Kaiser's Resume</title>
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/static/css/print.css">
  <!-- jquery and jqueryui for animations -->
  <script src="/static/js/libs/jquery.min.js"></script>
  <script src="/static/js/libs/jquery-ui.min.js"></script>
</head>
<body>
<!--
I thought you might inspect my code!
Well feel free, most of the animation code and content is in: resume.js
the scaffolding for the page is stored below
 -->
<div id="print-content">

</div>
<script type="text/javascript" src="/static/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/resume.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    printall();
  });
</script>
</body>
</html>
